body{
	margin: 0;
	background-color: #10e7e2;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#gameCanvas{
	border: 12px solid black;
	background-color: #10e7e2;
}

