.grid div{
	width: 30px;
	height: 30px;
	background-color: rgb(254,169,95);
}

h1{
	font-family: "Press Start 2P";
}

.hide-temp{
	display: none;
}
.grid{
	width: 450px;
	height: 450px;
	display: flex;
	flex-wrap: wrap;
	margin: -1em auto 0 auto;
	border: 15px solid;
}

body{
	background-color: rgb(254,169,95)
}

.snake{
	background-color: white !important;
}

.food{
	background-color: rgb(255,0,100) !important;
}

.score{
	font-family: "Press Start 2P", cursive;
	font-weight: bolder;
	font-size: 17px;
}

.head{
	padding: 1em;
	line-height: 0.5em;
	width: 30%;
}

h3{
	font-family: "Press Start 2P", cursive;
	font-weight: bolder;
	font-size: 17px;
}