@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body{
	margin: 0;
	/* background-color: #5300ff; */
	background-color: blue;
}

.container{
	display: flex;
	margin: auto;
	padding: 1em;
	justify-content: space-around;
	border: 5px solid black;
	background-color: whitesmoke;
	width: 52%;
	/* box-shadow: 3px 3px 10px black; */
}

#nextPiece{
	border: 4px solid black;
	/* margin-left: 2em; */
	margin-top: -1em;
}

#gameCanvas{
	background-color: white;
	border: 4px solid black;
	/*box-shadow: 5px 5px blue;*/
}

.logo{
	line-height: 0.8em;
}


/* div.heading-text{
	line-height: 1em;
	margin-left: 2em;
	height: 100%;
	width: 20%;
} */

h2, h3{
	font-family: "Press Start 2P";
	/* margin-left: 2em; */
	font-weight: bolder;
	/* text-shadow: 2px 2px 5px 5px yellow; */
}

.score-text{
	text-align: left;
}

h3{
	font-size: 1em;
	margin-left: 0.7em;
}

h2{
	font-size: 2.3em;
	transform: scale(1, 1.5);
	/* writing-mode: vertical-lr;
	text-orientation: upright; */
	/* text-shadow: 3px 0 black; */
}

.right-canvas{
	text-align: center;
}

p{
	font-family: "Press Start 2P";
	font-size: 1.5em;
}

