@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');



body{
	margin: 0;
	background-color: #96ff5d;
}

.main{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.text{
	font-size: 1.5em;
	line-height: 0.6em;
	text-align: center;
	color: black;
}

h1{
	font-family: "Press Start 2P";
}

h2{
	font-family: "Inter";
	font-size: 1em;
	font-weight: 100;
	animation: animate 1.5s linear infinite;
}

h2 > span {
	font-weight: bold;
}

@keyframes animate{
	0%{
	  opacity: 0;
	}
	50%{
	  opacity: 1;
	}
	100%{
	  opacity: 0;
	}
  }

p{
	font-family: "poppins";
	line-height: 1.3em;
	font-size: 1em;
	text-align: justify;
}

.hide{
	display: none;
}

#gameCanvas{
	background-color: slategray;
	margin: 0;
}

h3{
	font-family: "Press Start 2P", cursive;
	color: black;
}

