body{
    background-color: whitesmoke;
}

.container { 
    display: flex;
    justify-content: space-between;
    width: 850px;
}

.grid-user { 
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
}

.grid > div { 
    width: 40px;
    height: 40px;
    outline: black solid 1px;
}

.grid-computer {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
}

.grid-display {
    width: 240px;
    background-color: #f2f2f2;
    outline: black solid 1px;
}

.ship > div {
    width: 40px;
    height: 40px; 
}

.destroyer-container {
    width: 80px;
    height: 40px;
    display: flex;
    background-color: black; 
    margin: 5px 0px;   
}

.destroyer-container-vertical {
    width: 40px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.submarine-container {
    width: 120px;
    height: 40px;
    display: flex;
    background-color: black; 
    margin: 5px 0px;     
}

.submarine-container-vertical {
    width: 40px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
}

.cruiser-container {
    width: 120px;
    height: 40px;
    display: flex;
    background-color: black;  
    margin: 5px 0px;   
}

.cruiser-container-vertical { 
    width: 40px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
}

.battleship-container {
    width: 160px;
    height: 40px;
    display: flex;
    background-color: black;   
    margin: 5px 0px;  
}

.battleship-container-vertical {
    width: 40px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
}

.carrier-container {
    width: 200px;
    height: 40px;
    display: flex;
    background-color: black;  
    margin: 5px 0px;  
}

.carrier-container-vertical {
    width: 40px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.boom {
    background-color: red !important;
}

.miss { 
    background-color: grey;
}

button{
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 1em;
    padding: 0.3em 0.5em;
    font-style: italic;
    box-shadow: 2px 2px black;
    margin: 10px 0;
}

button:hover{
    cursor: pointer;
}

button:active{
    box-shadow: none;
    transform: translate(2px, 2px);
}

h3{
    font-family: arial;
}

.destroyer, .submarine, .battleship, .carrier, .cruiser{
    background-color: black;
}