.container { 
    display: flex;
}

.grid-user { 
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    margin: 20px;
}

.grid > div { 
    width: 20px;
    height: 20px;
}

.grid-computer {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    margin: 20px;
}

.grid-display {
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: yellow;
}

.ship > div {
    width: 40px;
    height: 40px; 
}

.destroyer-container {
    width: 80px;
    height: 40px;
    display: flex;
    background-color: orange; 
    margin: 5px;   
}

.submarine-container {
    width: 120px;
    height: 40px;
    display: flex;
    background-color: cyan; 
    margin: 5px;   
}

.cruiser-container {
    width: 120px;
    height: 40px;
    display: flex;
    background-color: red;  
    margin: 5px;  
}

.battleship-container {
    width: 160px;
    height: 40px;
    display: flex;
    background-color: pink;   
    margin: 5px; 
}

.carrier-container {
    width: 200px;
    height: 40px;
    display: flex;
    background-color: violet;  
    margin: 5px;  
}