@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background-color: whitesmoke;
}

* {
    font-family: 'Inter';
}

::-webkit-scrollbar {
    background: #fff;
    width: 1em;
    border-left: 2px solid black;
  }

::-webkit-scrollbar-thumb {
    background: black;
}

.container { 
    display: flex;
    justify-content: center;
    width: 100%;
}

.container > div {
    margin: 0 1em 0 0;
}

.splash-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.splash-container > h1 {
    margin: 0;
    font-size: 2.1em;
}

.splash-buttons-container {
    margin-top: -0.6em;
}

.game-mode-buttons-container {
    display: flex;
    justify-content: center;
}

.chat-box {
    display: none;
    width: 400px;
    height: 400px;
    /* border: 1px solid black; */
}

input {
    background-color: #f2f2f2;
    border: 2px solid black;
    border-radius: 1em;
    height: 2em;
}

.players-status {
    display: none;
    justify-content: center;
    margin: 1em;
}

.player-1, .player-2{
    font-family: 'Inter';
    font-style: italic;
    padding: 0 1em 1em 1em;
}

.connected, .ready {
    font-weight: normal;
    text-decoration: line-through;
}

.hidden-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0 0 0;
}

/* .connected span, .ready span{
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: red;
} */

/* span.green{
    background-color: green;
} */

.green {
    text-decoration: none;
}

.grid {
    width: 400px;
    height: 400px;
    background-color: lightskyblue;
}

.grid-user { 
    display: flex;
    flex-wrap: wrap;
}

.grid > div { 
    width: 40px;
    height: 40px;
    outline: black solid 2px;
    background-color: lightskyblue;
}

.grid-computer {
    display: flex;
    flex-wrap: wrap;
}

.grid-display {
    width: 240px;
}

.ship {
    border-radius: 2em;
    border: 2px solid black;
    margin-right: 0.5em;
}

.ship > div {
    width: 40px;
    height: 40px; 
}

.destroyer-container {
    width: 80px;
    height: 40px;
    display: flex;
    /* background-color: black;  */
}

.destroyer-container-vertical {
    width: 40px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.submarine-container {
    width: 120px;
    height: 40px;
    display: flex;
    /* background-color: black;  */  
}

.submarine-container-vertical {
    width: 40px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
}

.cruiser-container {
    width: 120px;
    height: 40px;
    display: flex;
    /* background-color: black;   */
}

.cruiser-container-vertical { 
    width: 40px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
}

.battleship-container {
    width: 160px;
    height: 40px;
    display: flex;
    /* background-color: black;    */
}

.battleship-container-vertical {
    width: 40px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
}

.carrier-container {
    width: 200px;
    height: 40px;
    display: flex;
    /* background-color: black;   */
}

.carrier-container-vertical {
    width: 40px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: #f2f2f2;
    border: 2px solid black;
    border-radius: 1em;
    padding: 0.3em 0.5em;
    font-family: 'Inter';
    font-weight: bold;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-style: italic;
    box-shadow: 2px 2px black;
    margin: 2em 0;
}

#start{
    display: none;
}

button:hover{
    cursor: pointer;
}

button:active{
    box-shadow: none;
    transform: translate(2px, 2px);
}

h3{
    font-family: 'Inter';
    margin-top: -0.3em;
}

/* .destroyer, .submarine, .battleship, .carrier, .cruiser{
    background-color: black !important;
} */

.grid-display-container {
    display: flex;
    width: 100%;
}

.grid-display {
    display: flex;
    justify-content: center;
    width: 100%;
}
/* 
.taken.vertical::before,
.taken.horizontal::before {
    content: '';
    position: absolute;
    border: 2px solid blue;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
}

.taken.horizontal::before {
    animation: ripplesY 3s linear infinite;
    border-left: none;
    border-right: none;
}

.taken.vertical::before {
    animation: ripplesX 3s linear infinite;
    border-top: none;
    border-bottom: none;
} */

@keyframes ripplesX {
    0%{
        opacity: 1;
        transform: scaleX(1)
    }

    100%{
        opacity: 0;
        transform: scaleX(1.5);
    }
}

@keyframes ripplesY {
    0%{
        opacity: 1;
        transform: scaleY(1)
    }

    100%{
        opacity: 0;
        transform: scaleY(1.5);
    }
}

.taken,
.ship {
    background-color: hsl(0, 0%, 80%) !important;
}

.hide{
    background-color: lightskyblue !important;
}

/* .boom {
    background-color: red !important;
}

.miss { 
    background-color: grey !important;
} */

.miss,
.boom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boom{
    background-color: blue;
}

.boom::after,
.miss::after {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.miss::after{
    background-color: white;
}

.boom::after{
    background-color: red;
}

.miss::before,
.boom::before {
    content: '';
    position: absolute;
    animation: hit 0.2s ease-out forwards;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.boom::before {
    border-color: red;
}

.miss::before {
    border-color: white;
}

@keyframes hit {
    0%{
        opacity: 1;
        transform: scale(0);
    }

    99%{
        opacity: 0;
        transform: scale(4);
    }

    100%{
        transform: scale(0);
    }
}