@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background-color: whitesmoke;
}

* {
    font-family: 'Inter';
}

::-webkit-scrollbar {
    background: #fff;
    width: 1em;
    border-left: 2px solid black;
  }

::-webkit-scrollbar-thumb {
    background: black;
}

.container { 
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.container > div {
    margin: 0 1em 0 0;
}


.game-mode-buttons-container {
    display: flex;
    justify-content: center;
}

.chat-box {
    display: none;
    width: 400px;
    height: 400px;
    /* border: 1px solid black; */
}

input {
    background-color: #f2f2f2;
    border: 2px solid black;
    border-radius: 1em;
    height: 2em;
}

.players-status {
    display: none;
}

.player-1, .player-2{
    font-family: 'Inter';
    font-style: italic;
    padding: 0 1em 1em 1em;
}

.connected, .ready {
    font-weight: normal;
}

.connected span, .ready span{
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: red;
}

span.green{
    background-color: green;
}

.grid-user { 
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
}

.grid > div { 
    width: 40px;
    height: 40px;
    outline: black solid 2px;
    background-color: lightskyblue;
}

.grid-computer {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
}

.grid-display {
    width: 240px;
    background-color: #f2f2f2;
}

.ship > div {
    width: 40px;
    height: 40px; 
}

.destroyer-container {
    width: 80px;
    height: 40px;
    display: flex;
    background-color: black; 
    margin: 5px 0px;   
}

.destroyer-container-vertical {
    width: 40px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.submarine-container {
    width: 120px;
    height: 40px;
    display: flex;
    background-color: black; 
    margin: 5px 0px;     
}

.submarine-container-vertical {
    width: 40px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
}

.cruiser-container {
    width: 120px;
    height: 40px;
    display: flex;
    background-color: black;  
    margin: 5px 0px;   
}

.cruiser-container-vertical { 
    width: 40px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
}

.battleship-container {
    width: 160px;
    height: 40px;
    display: flex;
    background-color: black;   
    margin: 5px 0px;  
}

.battleship-container-vertical {
    width: 40px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
}

.carrier-container {
    width: 200px;
    height: 40px;
    display: flex;
    background-color: black;  
    margin: 5px 0px;  
}

.carrier-container-vertical {
    width: 40px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.boom {
    background-color: red !important;
}

.miss { 
    background-color: grey !important;
}

button{
    background-color: #f2f2f2;
    border: 2px solid black;
    border-radius: 1em;
    padding: 0.3em 0.5em;
    font-family: 'Inter';
    font-weight: bold;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-style: italic;
    box-shadow: 2px 2px black;
    margin: 2em 0;
}

#start{
    display: none;
}

button:hover{
    cursor: pointer;
}

button:active{
    box-shadow: none;
    transform: translate(2px, 2px);
}

h3{
    font-family: 'Inter';
}

.destroyer, .submarine, .battleship, .carrier, .cruiser{
    background-color: black !important;
}

.hide{
    background-color: lightskyblue !important;
}