@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body{
	margin: 0;
	background-color:#f6ae33;
	overflow-y: hidden;
}

.grid-container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.score-container {
	display: flex;
	height: 555px;
	width: 10px;
	flex-direction: column;
	align-items: flex-start;
}

h1{
	font-family: "Inter";
}

.canvas-container{
	display: flex;
	padding: 2em 1em 2em 2em;
}

#gameCanvas{
	border: 6px solid black;
	background-color: whitesmoke;
}


