body{
	margin: 0;
	font-family: "Press Start 2P";
	/*background: url(https://wallpapercave.com/wp/wp742784.png);*/
	background-color: #3968cb; 
	font-style: italic;
	color: #fff;
	no-repeat 50% 50%;
	background-size: cover;
}

/*//loader*/

.loader-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: darkblue;
}

.sp-loadbar {
	width: 50px;
	height: 18px;
	border: 1px white solid;
	border-radius: 4px;
	background: linear-gradient(-60deg, transparent 0%, transparent 50%, white 50%, white 75%, transparent 75%, transparent);
	background-size: 20px 30px;
	background-position: 0px 0px;
	/*-webkit-animation: 0.8s infinite linear;*/
	animation: sp-loadbar 0.8s infinite linear;
	/*animation-play-state: running;*/
}

@keyframes sp-loadbar {
	0% { 
		background-position: 0px 0px;
	}
	100% { 
		background-position: -20px 0px;
	}
}

/*@keyframes sp-loadbar {
	from { background-position: 0px 0px; }
	to { background-position: -20px 0px; }
}*/

html{
	cursor: url(../images/icon_cursor_default.png), default !important;
}


.divider{
	width: 100%;
	height: 2px;
	background-color: #fff;
}

.wrapper{
	width: 100%
	height: 100vh;
}

.wrapper .container{
	width: 96%;
	margin: 0px auto;
}

.menu-item{
	position: relative;
	padding: 0 6vw;
}

.whitespace{
	width: 100%;
	height: 20px;
}

.whitespace2{
	width: 100%;
	height: 30vh;
}

.navbar .navbar-container{
	display: flex;
	padding: 12px 0;
	font-size: 1.5vw;
	justify-content: space-between;
	/*font-family: monospace !important;*/
}


.menu a {
	text-decoration: none;
}

.menu-item-link{
	display: inline-block;
	cursor: pointer;
	position: relative;
	-webkit-text-stroke: 1px #fff;
	/*-webkit-text-fill-color: #fff;*/
	-webkit-text-fill-color: transparent;
	color: transparent;
	transition: opacity 0.4s;
}

.menu-item-link::before{
	all: initial;
	font-family: "Syne", sans-serif;
	counter-increment: menu;
	position: absolute;
	bottom: 60%;
	pointer-events: none;
}

.menu-item-link:hover {
	transition-duration: 0.1s;
	opacity: 0;
}



.menu-item-img{
	pointer-events: none;
	position: absolute;
	height: 50vh;
	max-height: 400px;
	opacity: 0;
	left: 100%;
	top: 50%;
	transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu-item-link:hover + .menu-item-img{
	opacity: 1;
	transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
	transition: all 0.4s;
}

.menu{
	padding: 10vh 0 25vh;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	font-size: 4vw;
}

.marquee{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: red;
	pointer-events: none;
	mix-blend-mode: difference;
	width: 100%;

}

.inner__marquee {
	width: -webkit-fit-content;
	display: flex;
	position: relative;
	animation: marquee 5s linear infinite;
	animation-play-state: running;
	opacity: 0;
	transition: opacity 0.1s;
}

.menu-item-link:hover ~ .marquee .inner__marquee {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.menu-item-link,
.marquee span{
	white-space: nowrap;
	font-size: 3.5vw;
	padding: 0 1vw;
	font-weight: 600;
	line-height: 1.20;
}

.marquee span{
	font-style: italic;
	text-shadow: 5px 5px #000;
}

@keyframes marquee{
	0%{
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100%{
		transform: translate3d(var(--move-final), 0, 0);
	}
}